// .five-grid-section {
//     .row {
//         @include tablet {
//             display: inline-block;
//         }
//     }
// }

.five-grid-layout {
    display: grid;
    grid-template-columns: auto auto auto;

    @include mobile {
        @include display-flex(flex);
        overflow-x: scroll;
        padding-bottom: 8px;
    }

    .div-large {
        grid-column: 1/span 1;
        grid-row: 1/span 2;

        @include mobile{
            width: 50%;
            min-width: 300px;
        }
    }

    .div-small {
        grid-column: 2/span 1;
        grid-row: 2/span 1;

        @include mobile{
            width: 50%;
            min-width: 300px;
        }

        &:nth-child(2) {
            grid-column: 2/span 1;
            grid-row: 1/span 1;
            margin-bottom: 32px;

            @include tablet {
                margin-bottom: 16px;
            }
        }

        &:nth-child(3) {
            grid-column: 3/span 1;
            grid-row: 1/span 1;
            margin-bottom: 32px;

            @include tablet {
                margin-bottom: 16px;
            }
        }

        &:last-child {
            grid-column: 3/span 1;
            grid-row: 2/span 1;
        }
    }

    .large-img {
        height: 700px;

        @include medium {
            height: 532px;
        }

        @include tablet {
            height: 456px;
        }

        @include mobile {
            height: 200px;
        }
    }

    .small-img {
        height: 334px;

        @include medium {
            height: 250px;
        }

        @include tablet {
            height: 220px;
        }

        @include mobile {
            height: 200px;
        }
    }

    .image-caption {
        position: absolute;
        top: 0;
        left: 16px;
        width: calc(100% - 32px);
        padding: 34px 31px;

        @include medium {
            padding: 20px;
        }

        h5 {
            @include tablet {
                margin-bottom: 10px;
            }
        }

        p {
            @include tablet {
                font-size: var(--para-12);
                margin-bottom: 15px;
            }
        }
    }
}